/* Inicio Body */
  body {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f4f4;
  font-family: Arial, Helvetica, sans-serif;
}
/* Inicio Body */

/* Inicio Topo*/
#topo {
  width: 1100px;
  height: 95px;
  object-fit: cover;
}
/* Final Topo*/

/* Inicio Menu */
ul {
  margin: 0;
  padding: 0;
  background-color: #5D240A;
  list-style-type: none;
  
}

li {
  padding: 5px;
  font-size: 20px;
  text-decoration: none;
  display: inline-flex;
  list-style-type: none;
  
}

li a {
  display: inline-flex;
  color: #ffffff;
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #ffffff;
  color: black;
}
/* Final Menu */

/* Inicio div principal */
#tudo {
  background-color: #ffffff;
  width: 1100px;
  height: 1500px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .8);
}
/* Final div principal */

/* Inicio tag main */
#main {
  display: inline-flex;
  margin-left: 20px;
  margin-right: 20px;
}

#titulo {
  color: #df5400;
  font-style: italic;
  font-family: 'Elsie', cursive;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, .6);
  font-size: 50px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.mf {
  color: #df5400;
  font-style: italic;
  font-family: 'Volkhov', serif;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, .6);
}


#main h2 {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.3);
  font-family: Arial, Helvetica, sans-serif, Times, serif, serif;
}

#main p {
  color: black;
  font-style: normal;
  font-size: 20px;
  font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
  margin-right: 20px;
  text-align: justify;
}

/* Final tag main */

#aspas  {
  width: 70px;
  height: 70px;
  object-fit: cover;
}

#ct {
  margin-top: 10px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
  font-family: Arial, Helvetica, sans-serif, Times, serif, serif;
  text-align: justify;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.cite {
  display: inline-flex;
  font-size: 20px;
}

#para {
  font-size: 20px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: justify;
}


#para2{
  font-size: 20px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: justify;
}


/* Inicio div das imagens */
#img {
  display: block;
  color: #df5400;
  font-style: italic;
}
/* Final div das imagens */

/* Inicio da Imagem do mapa */
#mapa {
  width: 300px;
  height: 340px;
  object-fit: cover;
  box-shadow: 0 0px 2px rgba(0, 0, 0, 1);
}
/* Final da imagem do mapa */

/* Inicio da imagem fotos */
.fotos {
  width: 300px;
  height: 200px;
  display: inline-flex;
  object-fit: cover;
}
/* Final da imagem fotos */

/* Inicio Footer */
#footer {
  background-color: #5D240A;
  position: center;
  text-align: center;
  font-size: 30px;
  color: white;
}
/* Final Footer */